.banner__titulo{
    font-family: Pacifico, cursive;   
    font-size: 5.3em;
    font-weight: 100;
    color: white;
    text-shadow: 0 4px 4px black;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}