.formulario-nota {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.formulario-nota__criar {
  border-radius: 10px;
  margin-left: 50%;
  width: 50%;
}

.formulario-nota__categoria {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0 .5rem;
}

.formulario-nota__descricao {
  border-radius: 5px;
  height: 7rem;
  margin: 1rem 0;
  padding: 1rem;
  resize: none;
}

.formulario-nota__nome {
  border-radius: 10px;
  text-align: center;
}

.formulario-nota__titulo {
  color: white;
  text-align: center;
  margin-block-end: .5rem;
}
