// Variaveis (só possível no scss)
$cor-padrao: darken(#E57290, 10%); // saturate complement adjust-hue
$cor-auxiliar: lighten(#7190E5,10%);
$corbranca: #fff;
$raio-arredondado: 0.5em;
$sombra-caixa: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
$mq-mobile: "(max-width: 980px)";