
.blog {
    display: block;
    position: relative;
  }
  
  .blog::after {
    content: "";
    background: url(../imagens/fundo.png);
    background-size: 25px 25px;
    opacity: .15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  